<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new Chat.......</title>
</head>

<body>
  <form action="/chats" method="post">
    <h3>New Chat</h3>
    <p>
      <input type="text" name="from" placeholder="sender name">
    </p>
    <p>
      <textarea name="msg" placeholder="write your message"></textarea>
    </p>
    <p>
      <input type="text" name="to" placeholder="write receiver name">
    </p>
    <p>
      <input type="submit" value="send">
    </p>
  </form>
</body>

</html>