body {
  margin-left: 20px;
 
}
.chats {
  background-color: aliceblue;
  display: inline-block;
   padding: 16px;
   margin: 20px;
}
.msg, .banner {
  background-color: blueviolet;
  color: #fff;
  padding: 7px;
  border-radius: 10px;
}
